
<section class="main">
    <div class="">tyt hi {{ this.cartService.count}}</div>
  <div class="container">
      <div class="main-info">
          <h1 class="double-title">Самая вкусная пицца в мире <span>только в Pizza Cheff</span></h1>
          <div class="main-advantages">
              <div class="advantage">
                  <div class="advantage-img">
                      <img src="assets/img/acrions/01.png" alt="01">
                  </div>
                  <div class="advantage-text">
                      <div class="advantage-title">Лучшее тесто</div>
                      <div class="advantage-description">Мы создаем тесто только из отборной итальянской муки наивысшего качества</div>
                  </div>
              </div>
              <div class="advantage">
                  <div class="advantage-img">
                      <img src="assets/img/acrions/02.png" alt="02">
                  </div>
                  <div class="advantage-text">
                      <div class="advantage-title">гарантия качества</div>
                      <div class="advantage-description">Наша пиццерия получила множество наград и признаний по всему миру</div>
                  </div>
              </div>
              <div class="advantage">
                  <div class="advantage-img">
                      <img src="assets/img/acrions/03.png" alt="03">
                  </div>
                  <div class="advantage-text">
                      <div class="advantage-title">лучшие повара</div>
                      <div class="advantage-description">Пиццы готовят самые профессиональные итальянские повара</div>
                  </div>
              </div>
              <div class="advantage">
                  <div class="advantage-img">
                      <img src="assets/img/acrions/04.png" alt="04">
                  </div>
                  <div class="advantage-text">
                      <div class="advantage-title">отборные рецепты</div>
                      <div class="advantage-description">Мы используем рецепты от мировых лидеров в изготовлении пиццы</div>
                  </div>
              </div>
          </div>
          <div class="main-action">
              <a class="btn" routerLink="/products" (click)="Test()">Выбрать пиццу</a>
          </div>
      </div>
      <div class="main-img">
          <img src="assets/img/acrions/pizza.png" alt="">
      </div>
  </div>
</section>





<footer class="footer">
  <div class="container">
      <div class="logo">
          <img src="assets/img/header/logo.png" alt="logo">
      </div>
      <div class="rights">Все права защищены, <span>2020</span></div>
  </div>
</footer>

<app-popup data="'hi"></app-popup>